
<include file="Common:header" />


<div id="full-screen-slider">
    <ul id="slides">
        <volist name="ar_rems" id="vo">
        <li style="background:url('__ROOT__/{$vo.ar_pic}') no-repeat center center"><a href="javascript:void(0)">首页焦点图2-科研</a></li>
        </volist>
    </ul>
</div>
<div class="notice">
    <div class="layout">
        <div id="ScrollMe" style="overflow: hidden; height: 27px;">
            <a href="/news/company/2016/0324/35.html">肖斯达克成都高新大核酸研究院揭牌成立 <span style="font-size:11px; ">2016-03-24</span></a>
            <a href="/news/international-exchange/2015/1130/32.html">荷兰林堡省省长博文斯率团访问创宜生物 <span style="font-size:11px; ">2015-12-01</span></a>
            <a href="/news/international-exchange/2015/0929/29.html">我公司董事长关祥乾先生率团赴美国波士顿考察 <span style="font-size:11px; ">2015-09-29</span></a>
            <a href="/news/international-exchange/2015/0929/30.html">诺贝尔化学奖获得者获得者阿达·尤纳斯教授率专家团访问创宜生物 <span style="font-size:11px; ">2015-09-28</span></a>
            <a href="/news/company/2015/0827/27.html">安徽省委常委、副省长陈树隆一行莅临创宜考察指导 <span style="font-size:11px; ">2015-08-27</span></a>


        </div>

    </div>
</div>
<div class="main">
    <div class="layout cnt">
        <div class="left">
            <h2><a href="/plus/list.php?tid=1">+</a>关于我们</h2>
            <div class="index-about">
                <img alt="" src="__IMG__/1-150HG04215915.jpg" style="width: 891px; height: 207px;" /><
                成都创宜生物科技有限公司创立于2010年初春，是一家具有自主知识产权和掌握核心技术的集临床体外诊断产品的研发、 生产和销售为一体的高科技生物技术公司，也是四川省高科技产业化协会副理事...</div>
        </div>
        <div class="mid">
            <h2><a href="/plus/list.php?tid=2">+</a>新闻动态</h2>
            <ul class="indexnews">
                <volist name="ar_news" id="vo">
                <li>
                    <a href="__MODULE__/Article/ar_id/{$vo.ar_id}"><b>0{$i}</b>{$vo.ar_title}</a>
                    <p>{$vo.ar_content}.</p>
                </li>
                 </volist >
            </ul>
        </div>
        <div class="right">
            <h2><a href="/plus/list.php?tid=13">more</a>创宜生物宣传片</h2>
            <div class="flash">
                <EMBED style=" margin: 0 auto; width:360px; height: 198px";
                       src="http://player.youku.com/player.php/sid/XMTI5NDQ3OTg0NA==/v.swf"
                       quality= "high"
                       wmode="transparent"
                       pluginspage="http://www.macromedia.com/go/getflashplayer"
                       type="application/x-shockwave-flash">


            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>


<include file="Common:footer" />