
	<div class="main-container container-fluid">
		<div class="page-container">
            <!-- Page Sidebar -->

            <include file="Public:left" />

            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="#">系统</a></li>
                        <li class="active">网站配置列表</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">


<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-right" >配置名称</th>
                                <th class="text-left">配置值</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form action="" method="post">
                        <volist name="confes" id="vo">
                           <tr>
                                <td align="right">{$vo.cf_name}</td>
                                <td align="left">

                                    <if condition="$vo['cf_type'] eq 'text' ">  <input type="text" name="{$vo.cf_ename}" id="" value="{$vo.cf_value}">
                                    <elseif condition="$vo['cf_type'] eq 'textarea' "/> <textarea name="{$vo.cf_ename}" id="" cols="30" rows="10">{$vo.cf_value}</textarea>
                                    <else />
                                        <?php $arr = explode(',',$vo['cf_values']); ?>
                                        <?php foreach($arr as $v ){ ?>
                                            <?php if( $vo['cf_value'] == $v){ ?>
                                                <?php echo " <input type='radio'  value='' name='".$vo[cf_ename]."'  checked >  $v "  ; ?>
                                            <?php }else{  ?>
                                                <?php echo " <input type='radio'  value='' name='".$vo[cf_ename]."' >  $v "   ; ?>
                                     <?php } } ?>
                                    </if>

                                </td>
                            </tr>
                        </volist>
                            <input type="submit" value="保存信息" width="30px" height="30px">
                        </form>
                        </tbody>

                    </table>

                </div>
                <div>
                	                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

