
<div id="footer">
    <div class="layout footer">
        <div class="footer-info">
            <p>Copyright &copy; 2015  Chengdu  origissay  Diagnostics,LTD     技术支持：博海天韵 <a href=http://www.dedecms.com target='_blank'></a>  蜀ICP12007941 </p>
        </div>
        <div class="footer-nav">
            <ul>

                <li>
                    <a href='/plus/list.php?tid=1'>
                        关于创宜
                    </a></li>

                <li>
                    <a href='/plus/list.php?tid=2'>
                        最新动态
                    </a></li>

                <li>
                    <a href='/plus/list.php?tid=3'>
                        产品介绍
                    </a></li>

                <li>
                    <a href='/plus/list.php?tid=4'>
                        企业风采
                    </a></li>

                <li>
                    <a href='/plus/list.php?tid=5'>
                        诚聘英才
                    </a></li>

                <li>
                    <a href='/plus/list.php?tid=6'>
                        联系我们
                    </a></li>


            </ul>
        </div>

        <div class="clr"></div>
    </div>
</div>
<script>new srcMarquee("ScrollMe",0,1,808,27,3,5000,1000,27)</script>
</body>
</html>
