<!doctype html>
<html>
<head>
    <base target="_self" />
    <meta charset="UTF-8">
    <title>创宜生物</title>
    <link type="text/css" rel="stylesheet" href="__STYLE__/style.css" />
    <link rel="stylesheet" type="text/css" href="__STYLE__/jquery.jslides.css" media="screen" />
    <script type="text/javascript" src="__STYLE__/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__STYLE__/jquery.jslides.js"></script>
    <script type="text/javascript" src="__STYLE__/nav.js"></script>
    <script type="text/javascript" src="__STYLE__/scrolltext.js"></script>
    <style>
        #ScrollMe A {
            COLOR: #444;TEXT-DECORATION: none; display:block; line-height:27px; position:relative; width:1155px;
        }
        #ScrollMe A span{ position:absolute; top:0; right:0; }
    </style>
</head>

<body>
<div id="header">
    <div class="layout">

        <div id="nav">
            <div class="nav">
                <ul>
                    <li>
                        <a href="/" class="header foucs">
                        <p>网站首页</p>
                        <p class="en">Home</p>
                        </a>
                    </li>

                    <volist name="categoryes" id="vo">

                    <li class="mnav">
                        <!--这里的判断，根据后台给的如果是列表，就进入列表页；如果是封面页，就进入封面页-->
                        <a href="__MODULE__/<if condition='$vo[cate_type] eq 1'>List<else />Page </if>/index/cate_id/{$vo.cate_id} " class=''><p>{$vo.cate_name}</p><p class='en'>{$vo.cate_ename}</p></a>
                        <ul class="smenu">

                            <volist name=":getsub($vo['cate_id'])" id="vv">

                            <li>
                                <a href="__MODULE__/<if condition='$vv[cate_type] eq 1'>List<else />Page </if>/index/cate_id/{$vv.cate_id}">{$vv.cate_name}</a>
                            </li>

                            </volist>

                        </ul>
                    </li>

                    </volist>

                </ul>
            </div>
        </div>
        <div class="logo">
            <a href="/"></a>
        </div>
    </div>
</div>