<!doctype html>
<html>
<head>
    <base target="_self" />
    <meta charset="UTF-8">
    <title>创宜生物</title>
    <link type="text/css" rel="stylesheet" href="__STYLE__/style.css" />
    <link rel="stylesheet" type="text/css" href="__STYLE__/jquery.jslides.css" media="screen" />
    <script type="text/javascript" src="__STYLE__/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__STYLE__/jquery.jslides.js"></script>
    <script type="text/javascript" src="__STYLE__/nav.js"></script>
    <script type="text/javascript" src="__STYLE__/scrolltext.js"></script>
    <style>
        #ScrollMe A {
            COLOR: #444;TEXT-DECORATION: none; display:block; line-height:27px; position:relative; width:1155px;
        }
        #ScrollMe A span{ position:absolute; top:0; right:0; }
    </style>
</head>

<body>
<div id="header">
    <div class="layout">

        <div id="nav">
            <div class="nav">
                <ul>
                    <li><a href="/" class="header foucs">
                        <p>网站首页</p>
                        <p class="en">Home</p>
                    </a>
                    </li>
                    <li class="mnav"><a href="/plus/list.php?tid=1" class=''><p>关于创宜</p><p class='en'>About us</p></a>
                        <ul class="smenu">

                            <li>
                                <a href="/plus/list.php?tid=11">创宜简介</a>
                            </li>

                            <li>
                                <a href="/plus/list.php?tid=12">创宜文化</a>
                            </li>

                            <li>
                                <a href="/plus/list.php?tid=13">创宜视频</a>
                            </li>

                        </ul><li class="mnav"><a href="/plus/list.php?tid=2" class=''><p>最新动态</p><p class='en'>News</p></a>
                    <ul class="smenu">

                        <li>
                            <a href="/plus/list.php?tid=8">公司新闻</a>
                        </li>

                        <li>
                            <a href="/plus/list.php?tid=9">国际交流</a>
                        </li>

                        <li>
                            <a href="/plus/list.php?tid=10">行业资讯</a>
                        </li>

                    </ul><li class="mnav"><a href="/plus/list.php?tid=3" class=''><p>产品介绍</p><p class='en'>Product</p></a>
                    <ul class="smenu">

                        <li>
                            <a href="/plus/list.php?tid=18">育宜康</a>
                        </li>

                        <li>
                            <a href="/plus/list.php?tid=24">安宜康</a>
                        </li>

                    </ul><li class="mnav"><a href="/plus/list.php?tid=4" class=''><p>企业风采</p><p class='en'>Company style</p></a>
                    <ul class="smenu">

                        <li>
                            <a href="/plus/list.php?tid=19">创宜访谈</a>
                        </li>

                        <li>
                            <a href="/plus/list.php?tid=21">创宜资质</a>
                        </li>

                        <li>
                            <a href="/plus/list.php?tid=23">创宜讲座</a>
                        </li>

                    </ul><li class="mnav"><a href="/plus/list.php?tid=5" class=''><p>诚聘英才</p><p class='en'>Career</p></a>
                    <ul class="smenu">

                        <li>
                            <a href="/plus/list.php?tid=17">销售部区域经理</a>
                        </li>

                        <li>
                            <a href="/plus/list.php?tid=20">业务主管</a>
                        </li>

                    </ul><li class="mnav"><a href="/plus/list.php?tid=6" class=''><p>联系我们</p><p class='en'>Contact us</p></a>
                    <ul class="smenu">

                        <li>
                            <a href="/plus/list.php?tid=15">联系方式</a>
                        </li>

                        <li>
                            <a href="/plus/list.php?tid=16">在线留言</a>
                        </li>

                    </ul>
                </ul>
            </div>
        </div>
        <div class="logo">
            <a href="/"></a>
        </div>
    </div>
</div>