
<include file="Common:header" />

<div id="full-screen-slider-sec">
    <div class="layout">
        <div class="page-title">
            {$catetop.cate_name}
        </div>
    </div>
</div>
<div class="main">
    <div class="layout cnt2">
        <div class="left">
            <ul id="nav2">
                <volist name="cateson" id="vo">
                <li><a href="__MODULE__/<if condition='$vo[cate_type] eq 1'>List<else />Page </if>/index/cate_id/{$vo.cate_id}" >{$vo.cate_name}</a></li>
                </volist>
            </ul>
        </div>
        <div class="right">
            <h1>
                <div class="page">
                    <a href='__MODULE__/index/index'>网站首页</a>>
                    <volist name="res" id="vo">
                     <a href="__MODULE__/<if condition='$vo[cate_type] eq 1'>List<else />Page </if>/index/cate_id/{$vo.cate_id}">{$vo.cate_name}</a>    <if condition="$i neq count($res) ">></if>
                    </volist>
                </div>
                {$cateself.cate_name}
            </h1>
            <div class="cnt-in">
                <div class="news-list-wimg">
                    <ul>

                        <volist name="list" id="vo">
                        <li>
                            <h3> <a href="__MODULE__/Article/index/ar_id/{$vo.ar_id}">{$vo.ar_title}</a></h3>
                            <p><img src="__ROOT__/{$vo.ar_pic}" width="120" height="90" style="float:left; margin-right:15px;">{$vo.ar_content|htmlspecialchars_decode|substr=0,100}
                            <span class="list-date">{$vo.ar_time|date="Y-m-d",###}</span>
                            </p>
                        </li>
                        </volist>

                    </ul>
                </div>

                <div class="pages">
                    {$page}
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>

<include file="Common:footer" />

<script type="text/javascript">
    $(document).ready(function(){
        var hrefs=$("#nav2 > li > a");
        hrefs.each(function(i,val){
            var cururl=window.location.href;
            if(cururl.contains(val)){
                $(this).addClass("foucs");
            }
        });
    });
</script>